/*** ImageCropper ***/
#canvas-bg {
	float: left;
	text-align: left;
	height: 70px;
}

#canvas-wrapper {
	position: relative;
	width: auto;
	margin: auto;
}

canvas {
	border: dashed 3px #808080;
}

#canvas-background {
	display: block;
	width: 100%;
	margin-top: 5px;
}

/*** ImageLayover ***/

.image-container {
	width: 100%;
	min-height: 10em;
	border: 1px solid lightgray;
	margin-top:15px;
}

.custom-state-active {
	background: #eee;
}

.image-container img {
	width: 100%;
	cursor: move;
	height: auto;
}

#dropZone {
	border: 2px solid gray;
	width: auto;
	height: 700px;
}

#dropZone h4 {
	line-height: 16px;
	/* 	margin: 0 0 0.4em; */
}

/*tooltip*/
.tooltiptext {
    visibility: hidden;
    width: 120px;
    height:30px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 10%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltiptext::after {
    content: "";
   
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#dragCrop:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    position:fixed;
}











/*step wizard*/
ul#wizardStatus{
  list-style:none;
  margin:15px 0;
  padding:0;
  
}

ul#wizardStatus li{
  background-color:#ccc;
  color:#fff;
  display:inline-block;
  margin:0;
  
  font-size:16px;
  line-height:30px;
  padding:0 151px 0 40px;
  position:relative
}

ul#wizardStatus li:first-child{
  padding-left:25px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px
}

ul#wizardStatus li:last-child{
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px
}

ul#wizardStatus li:after,
ul#wizardStatus li:before {
  background-color:#ccc;
  content:"";
  display:block;
  position:absolute
}

ul#wizardStatus li:after{
  -webkit-border-radius:3px;
  border-radius:3px;
  border-right:3px solid white;
  border-top:3px solid white;
  height:23px;
  right:-13px;
  top:3px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
  width:21px;
  z-index:5
}

ul#wizardStatus li:before{
  height:30px;
  right:3px;
  width:20px;
  z-index:6
}

ul#wizardStatus li:last-child:after,
ul#wizardStatus li:last-child:before{
  display:none
}

ul#wizardStatus li.current{
  background-color:#FF4F65;
  color:#fff;
}

ul#wizardStatus li.current:after,
ul#wizardStatus li.current:before{
  background-color:#FF4F65
}

