.chat_box_on {
	display: block !important;
}
.panel-heading {
	height: 50px;
}

.chat_box {
	display: none;
	border: 1px solid #b0b0b0;
	bottom: 0;
	height: 500px;
	position: fixed;
	left: 0;
	width: 300px;
	margin: 11px 7px 0;
	padding: 7px 10px;
	overflow: auto;
	font-size: 21px;
}

#messagesArea {
	width: 100%;
	width: 270px;
	height: 200px;
	align: center;
}

.text-field{
	width: 100%;
}