
.panel-heading {
	height: 50px;
}

.chat_box {
	display: none;
	border: 1px solid #b0b0b0;
	bottom: 0;
	right: 15px;
	height: 500px;
	width: 300px;
	position: fixed;
	margin: 11px 7px 0;
	padding: 7px 10px;
	overflow: auto;
	font-size: 21px;
}


.input-area {
	position:absolute;
 	bottom:0;
 	width:90%;
}

.chat-header-button {
	position:absolute;
	right:0;
	top:0;
}

ul {
    width:100%;
    list-style-type: none;
    padding:18px;
    bottom:32px;
}

.msg-l {
	float:left;
}


.msg-r {
	float:right;
}

.text {
	padding:0px;
	font-size: 10px;
}

