
@media screen and (max-width: 767px) {
    
    .row.content {
        height: auto;
    }
}

.margin-top {
    margin-top: 70px;
    margin-bottom: 20px;
}

.img-thumbnail {
    margin-bottom: 10px;
        
}

.jumbotron {
    padding-top: 5px

}
.image-container{
	
	width:100%;
	
}
.image-container img {
	position: relative;
	padding:0;
	width:100%;
	cursor: pointer;
}

.overlap{
	background:rgba(0,0,0,0.6);
	position:absolute;
	width:12% ;
	height:0%;
	top:1%;
	right:0%;
	opacity:0;	
	transform:translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}
.image-container:hover .overlap{
	opacity:1;
	background:rgba(0,0,0,0.6);
}


.dropdownContent{
	display:none;
	position:absolute;
	background-color:#f9f9f9;
	min-width:100px;
	
	overflow:auto;
	box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
	right:0;
	z-index:1;
}
.dropdownContent a {
	color:black;
	text-decoration:none;
	display:block;
	padding: 6px 8px;
}
.dropdown a:hover {
	background-color:#f1f1f1;
}
.dropdown:hover .dropdownContent {
    display: block;
}
.errorMsgs {
	color:red;
	
}

div.polaroid {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-bottom:10px;
}

div.caption {
  padding: 10px;
}
.btn-group{
	float:right;
}

a{
	cursor:pointer;
}

/* The Modal (background) */
#lightboxImgModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.lightbox-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 600px;
}



/* Add Animation */
.lightbox-modal-content {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.closeImg {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closeImg:hover,
.closeImg:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .lightbox-modal-content {
        width: 100%;
    }
}

