
@media screen and (max-width: 767px) {
    
    .row.content {
        height: auto;
    }
}

.margin-top {
    margin-top: 70px;
    margin-bottom: 20px;
}

.img-thumbnail {
    margin-bottom: 10px;
        
}

div button {
    margin-top: 10px;
}
.jumbotron {
    padding-top: 5px

}
.image{
	
	width:100%;
	
}
.image img {
	position: relative;
	padding:0;
	width:100%;
	border-radius:8px;
	
}

.overlap{
	opacity:0;
	position:absolute;
	top:0px;
	right:20px;
}
.image:hover .overlap{
	opacity:1;
	
}


.dropdownContent{
	display:none;
	position:absolute;
	background-color:#f9f9f9;
	min-width:100px;
	
	overflow:auto;
	box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
	right:0;
	z-index:1;
}
.dropdownContent a {
	color:black;
	text-decoration:none;
	display:block;
	padding: 12px 16px;
}
.dropdown a:hover {
	background-color:#f1f1f1;
}
.dropdown:hover .dropdownContent {
    display: block;
}
.errorMsgs {
	color:red;
	
}
#tempList {
	border-collapse: collapse; /* Collapse borders */
	width: 100%; /* Full-width */
	border: 1px solid #ddd; /* Add a grey border */
	font-size: 16px; /* Increase font-size */
}

#tempList th, #tempList td {
	text-align: left; /* Left-align text */
	padding: 12px; /* Add padding */
}

#tempList tr {
	/* Add a bottom border to all table rows */
	border-bottom: 1px solid #ddd;
}


