<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>BA102G2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/BA102G2DB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<filter>
		<filter-name>loginComFilter</filter-name>
		<filter-class>com.filters.LoginComFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginComFilter</filter-name>
		<url-pattern>/Front_end/com/index.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>loginMemFilter</filter-name>
		<filter-class>com.filters.LoginMemFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginMemFilter</filter-name>
		<url-pattern>/Front_end/mem/index.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>loginAdmFilter</filter-name>
		<filter-class>com.filters.LoginAdmFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginAdmFilter</filter-name>
		<url-pattern>/Back_end/adm/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	<servlet>
		<servlet-name>ComServlet</servlet-name>
		<servlet-class>com.com.controller.ComServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ComServlet</servlet-name>
		<url-pattern>/com/com.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BackEnd_ComServlet</servlet-name>
		<servlet-class>com.com.controller.BackEnd_ComServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BackEnd_ComServlet</servlet-name>
		<url-pattern>/com/backendcom.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServServlet</servlet-name>
		<servlet-class>com.serv.controller.ServServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServServlet</servlet-name>
		<url-pattern>/serv/serv.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdmServlet</servlet-name>
		<servlet-class>com.adm.controller.AdmServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdmServlet</servlet-name>
		<url-pattern>/adm/adm.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AutServlet</servlet-name>
		<servlet-class>com.aut.controller.AutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AutServlet</servlet-name>
		<url-pattern>/aut/aut.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MemServlet</servlet-name>
		<servlet-class>com.mem.controller.MemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemServlet</servlet-name>
		<url-pattern>/mem/mem.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AlbServlet</servlet-name>
		<servlet-class>com.album.controller.AlbServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlbServlet</servlet-name>
		<url-pattern>/album/album.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PreviewServlet</servlet-name>
		<servlet-class>com.album.controller.PreviewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PreviewServlet</servlet-name>
		<url-pattern>/album/preview.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TempServlet</servlet-name>
		<servlet-class>com.temp.controller.TempServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TempServlet</servlet-name>
		<url-pattern>/temp/temp.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TempContServlet</servlet-name>
		<servlet-class>com.tempcont.controller.TempContServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TempContServlet</servlet-name>
		<url-pattern>/tempcont/tempcont.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ContentServlet</servlet-name>
		<servlet-class>com.content.controller.ContentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContentServlet</servlet-name>
		<url-pattern>/content/content.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ComTraServlet</servlet-name>
		<servlet-class>com.comtra.controller.ComTraServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ComTraServlet</servlet-name>
		<url-pattern>/comtra/comtra.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WorksServlet</servlet-name>
		<servlet-class>com.works.controller.WorksServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorksServlet</servlet-name>
		<url-pattern>/works/works.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowPictureServletDAO</servlet-name>
		<servlet-class>test.ShowPictureServletDAO</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowPictureServletDAO</servlet-name>
		<url-pattern>/ShowPictureServletDAO/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProblemServlet</servlet-name>
		<servlet-class>com.problem.controller.ProblemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProblemServlet</servlet-name>
		<url-pattern>/Problem/Problem.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TraditionServlet</servlet-name>
		<servlet-class>com.tradition.controller.TraditionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TraditionServlet</servlet-name>
		<url-pattern>/Tradition/Tradition.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ArticleServlet</servlet-name>
		<servlet-class>com.article.controller.ArticleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArticleServlet</servlet-name>
		<url-pattern>/Article/Article.do</url-pattern>
	</servlet-mapping>


  <servlet>
    <servlet-name>AdvertisingServlet</servlet-name>
    <servlet-class>com.advertising.controller.AdvertisingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvertisingServlet</servlet-name>
    <url-pattern>/advertising/advertising.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<display-name>RFQServlet</display-name>
  	<servlet-name>RFQServlet</servlet-name>
  	<servlet-class>com.rfq.controller.RFQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RFQServlet</servlet-name>
  	<url-pattern>/rfq/rfq.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<display-name>QuoteServlet</display-name>
  	<servlet-name>QuoteServlet</servlet-name>
  	<servlet-class>com.quote.controller.QuoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QuoteServlet</servlet-name>
  	<url-pattern>/quote/quote.do</url-pattern>
  </servlet-mapping>
  
	<servlet>
		<display-name>ReservationServlet</display-name>
		<servlet-name>ReservationServlet</servlet-name>
		<servlet-class>com.reservation.controller.ReservationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReservationServlet</servlet-name>
		<url-pattern>/reservation/reservation.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>CalendarServlet</display-name>
		<servlet-name>CalendarServlet</servlet-name>
		<servlet-class>com.calendar.controller.CalendarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalendarServlet</servlet-name>
		<url-pattern>/calendar/calendar.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Forum_commentServlet</servlet-name>
		<servlet-class>com.forum_comment.controller.Forum_commentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Forum_commentServlet</servlet-name>
		<url-pattern>/Forum_comment/Forum_commentServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadPhotoToDBDAO</servlet-name>
		<servlet-class>com.fion.albumupload.UploadPhotoToDBDAO</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadPhotoToDBDAO</servlet-name>
		<url-pattern>/UploadPhotoToDBDAO</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>org.apache.tomcat.websocket.textBufferSize</param-name>
		<param-value>307200</param-value>
	</context-param>
	<servlet>
		<servlet-name>MessageServlet</servlet-name>
		<servlet-class>com.message.controller.MessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageServlet</servlet-name>
		<url-pattern>/message/message.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ContactUs</servlet-name>
		<servlet-class>wang.test.ContactUs</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactUs</servlet-name>
		<url-pattern>/ContactUs</url-pattern>
	</servlet-mapping>

</web-app>